{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "ServiceBusConnection": "YOUR_SERVICE_BUS_CONNECTION_STRING_HERE"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*"
  }
}
